* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  opacity: 0.7;
  z-index: -100;
  pointer-events: none;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transform: scale(1.1);
}

.card {
  background-color: rgba(221, 207, 207, 0.462);
  backdrop-filter: blur(7px);
}

.card-header {
  background-color: rgba(221, 207, 207, 0.3);
  font-size: 1.5rem;
  padding: 0.7rem;
}

.navbar {
  background-color: rgba(221, 207, 207, 0.495);
  font-size: 1.2rem;
  backdrop-filter: blur(8px);
}

.custom-bg-success {
  background-color: rgba(0, 128, 0, 0.495);
  backdrop-filter: blur(1.2rem);
}

.custom-bg-warning {
  background-color: rgba(255, 255, 0, 0.495);
  backdrop-filter: blur(1.2rem);
}

.custom-bg-danger {
  background-color: rgba(255, 0, 0, 0.495);
  backdrop-filter: blur(1.2rem);
}

.custom-bg {
  background-color: rgba(221, 207, 207, 0.495);
  backdrop-filter: blur(1.2rem);
}

.w-48 {
  width: 48%;
}

.w-20 {
  width: 20%;
}

.toast {
  z-index: 1000;
}

.navbar,
.dropdown-menu {
  z-index: 100;
}
table {
  width: 100%;
}

td,
tr {
  line-height: 3.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
tbody tr:hover {
  background-color: rgba(68, 63, 63, 0.148);
}
.toast {
  opacity: 0;
  transition: opacity 0.7s ease-in-out; /* Adjust duration as needed */
}

.toast.show {
  opacity: 1;
}
